@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,600;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* Variáveis */
:root {
  --bg-main: #ffffff;
  --color-main: rgba(0, 0, 0, 60%);
}

body {
  background-color: var(--bg-main);
  color: var(--color-main);
}
