header {
  height: 60px;
  padding: 20px;
  width: 100%;
}

main.container-main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: var(--bg-main);
}

article.content {
  width: 80%;
  padding: 12px 0;

  z-index: 1;

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

article.content .text-error .error {
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--red);
}

article.content .text-error .error.code {
  font-size: 9em;
}

article.content .text-error .error.text {
  font-size: 4em;
}

article.content .text-error p {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--black);
}

@media screen and (max-width: 1200px) {
  article.content {
    width: 95%;
  }
}

@media screen and (max-width: 997px) {
  article.content .text-error p {
    font-size: 1.6em;
  }

  article.content .text-error .error.code {
    font-size: 7em;
  }
}

@media screen and (max-width: 645px) {
  article.content .text-error .error.text {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 890px) {
  article.content {
    width: 100%;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
  }

  article.content .text-error {
    text-align: center;
  }
}

@media screen and (max-width: 338px) {
  article.content img.image-error {
    width: 100%;
  }
}

.custom-shape-divider-bottom-1647989821 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1647989821 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 296px;
}

.custom-shape-divider-bottom-1647989821 .shape-fill {
  fill: #d4d4d4;
}
